<div class="container">
    <h1>Effectuer un pret</h1>
    <form  [formGroup]="loanForm" (ngSubmit)="saveLoan()">
      <div class="form-group">
        <label for="">Date d'edition</label>
        <mat-form-field class="form-control">
            <input matInput [matDatepicker]="endDatePicker" placeholder="Selectionnez la date de fin" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
          <div *ngIf="loanForm.get('endDate')?.invalid && loanForm.get('endDate')?.touched" class="text-danger">
            La date de fin de pret est requis.
          </div>
      </div>
      <div class="form-group">
        <label for="customerId">Client :</label>
        <select id="customerId" formControlName="customerId" class="form-control">
          <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.lastName }}</option>
        </select>
        <div *ngIf="loanForm.get('customerId')?.invalid && loanForm.get('customerId')?.touched" class="text-danger">
          Le client est requis.
        </div>
      </div>
      <div class="form-group">
        <label for="bookId">Livre :</label>
        <select id="bookId" formControlName="bookId" class="form-control">
         <option *ngFor="let book of books" [value]="book.id">{{ book.title }}</option>
        </select>
      <div *ngIf="loanForm.get('bookId')?.invalid && loanForm.get('bookId')?.touched" class="text-danger">
        Le livre est requis.
      </div>
  </div>
    <p></p>
      <!-- Ajoutez d'autres champs de formulaire pour les autres propriétés du modèle CustomerDto -->
      <button type="submit" class="btn btn-primary" [disabled]="loanForm.invalid">Ajouter</button>
      <button class="btn btn-danger" [routerLink]="['/allLoan']">Annuler</button>
    </form>
  </div>
  