    <div class="container">
        <h1>Bienvenue à l'administration de la librairie</h1>
        <img src="../../assets/mac.jpg" alt="" width="250px" height="250px">

        <div class="button-container">
            <button class="btn btn-primary" (click)="onListBook()">Book Management</button>
            <button class="btn btn-success" (click)="onListCategory()">Category Management</button>
            <button class="btn btn-danger" (click)="onListLoan()">Laon Management</button>
            <button class="btn btn-secondary" (click)="onListCustomer()">Customer Management</button>
        </div>
    </div>
