<div class="container" *ngIf="customer">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mr-3" >Pret Effectuer par le client {{customer.lastName}}</h1>
    </div>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Status</th>
            <th>Livre</th>
            <th>Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loan of loans | slice:(currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
            <td>{{loan.startDate|date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>{{loan.endDate|date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>{{loan.status}}</td>
            <td>{{loan.book? loan.book.title: ''}}</td>
            <td ><a (click)="confirmCloseLoan(loan.book.id, loan.customer.id)" class="btn btn-danger">Cloturer le pret</a></td>
            <td><a (click)="confirmOpenLoan(loan.book.id, loan.customer.id)" class="btn btn-primary">Ouvrir le pret</a></td>
          </tr>
        </tbody>
      </table>
        <div class="pagination">
          <button class="btn btn-primary" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Précédent</button>
            <span class="btn btn-success">{{ currentPage }}</span>
          <button class="btn btn-primary" (click)="onPageChange(currentPage + 1)">Suivant</button>
        </div>
      <p></p>
      <a class="btn btn-danger" [routerLink]="['/detailCustomer', customer.id]">Retour</a>
  </div>
