<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
      <div class="container">
          <a class="navbar-brand btn" [routerLink]="['/menu']">Menu Principal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link btn" [routerLink]="['/allCustomer']">Client</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn" [routerLink]="['/allBook']">Livres</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn" [routerLink]="['/allCategory']">Categories</a>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
</div>

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mr-3">Pret Effectuer</h1>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Recherche par email" [(ngModel)]="email">
      </div>
      <label for="">status</label>
      <select id="categoryId" formControlName="categoryId" >
        <option value="">{{loan.status}}</option>
      </select>
      <button class="btn btn-primary" >Rechercher</button>
      <a class="btn btn-primary" [routerLink]="['/addLoan']">Effectuer un Pret</a>
    </div>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Status</th>
            <th>Client</th>
            <th>Livre</th>
            <th>Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loan of loans">
            <td>{{loan.startDate|date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>{{loan.endDate|date:'dd/MM/yyyy hh:mm:ss'}}</td>
            <td>{{loan.status}}</td>
            <td>{{loan.customer ? loan.customer.lastName : ''}}</td>
            <td>{{loan.book? loan.book.title: ''}}</td>
            <td><a (click)="confirmCloseLoan(loan.book.id, loan.customer.id)" class="btn btn-danger">Cloturer le pret</a></td>
            <td><a (click)="onOpenLoan(loan.book.id, loan.customer.id)" class="btn btn-primary">Ouvrir le pret</a></td>
            <!--<td><a (click)="confirmDelete(customer.id)" class="btn btn-danger">Delete</a></td> -->
          </tr>
        </tbody>
      </table>
  </div>
  