<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-info"> <!-- Modification de bg-light en bg-info -->
      <div class="container">
          <a class="navbar-brand btn" (click)="onMenu()">Menu Principal</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link btn" (click)="onClientList()">Clients</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn" (click)="onBookList()">Livres</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn" [routerLink]="['/allLoan']">Prets</a>
                  </li>
              </ul>
          </div>
      </div>
    </nav>
</div>
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mr-3">Liste de Categories</h1>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="label" name="label" placeholder="Recherche par label">
      </div>
      <button class="btn btn-primary" (click)="searchCategoryByLabel()">Rechercher</button>
    
      <a class="btn btn-primary" [routerLink]="['/addCategory']">Nouvelle Categorie</a>
    </div>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Code</th>
          <th>Label de la Categorie</th>
          <th>Action</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categorys | slice:(currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
          <td>{{category.code}}</td>
          <td>{{category.label}}</td>
          <td><a class="btn btn-success" [routerLink]="['/allBookByCategory', category.id]">Livres</a></td>
          <td><a class="btn btn-primary">Update</a></td>
          <td><a class="btn btn-danger"(click)="confirmDelete(category.id)">Delete</a></td>
        </tr>
      </tbody>
    </table>
</div>
<div class="container">
  <div class="pagination">
    <button class="btn btn-danger" [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">Précédent</button>
    <span class="btn btn-success">{{ currentPage }}</span>
    <button class="btn btn-danger" (click)="onPageChange(currentPage + 1)">Suivant</button>
  </div>
</div>